<div class="col-10 snorkeling p-0">

  <h4 class="snorkel-title">浮潛裝備</h4>

  {{> alert}}

  {{#if snorkeling}}
    <form action="/snorkeling/{{ snorkeling.id }}?_method=PUT" method="POST"
      class="bg-purple rounded shadow-sm snorkeling-form"
      enctype="multipart/form-data">

      <div class="d-flex m-2">
        <input type="text" placeholder="名稱" name="title"
          value="{{ snorkeling.title }}" class="form-control snorkeling-input">
        <input type="text" placeholder="售價" name="price"
          value="{{ snorkeling.price }}" class="form-control snorkeling-input">
        <input type="file" name="image"
          class="form-control snorkeling-input-image" multiple>
      </div>

      <div class="btn-group">
        <button type="submit" class="btn snorkeling-btn rounded"
          style="margin-right: 10px;">更新</button>
        <a href="/snorkeling">
          <button type="button" class="btn snorkeling-btn">
            建立
          </button>
        </a>
      </div>

    </form>
  {{else}}
    <form action="/snorkeling" method="POST"
      class="bg-purple rounded shadow-sm snorkeling-form"
      enctype="multipart/form-data">

      <div class="d-flex m-2">
        <input type="text" placeholder="名稱" name="title"
          class="form-control snorkeling-input">
        <input type="text" placeholder="售價" name="price"
          class="form-control snorkeling-input">
        <input type="file" placeholder="圖片" name="image"
          class="form-control snorkeling-input-image">
      </div>

      <div class="btn-group">
        <button type="submit" class="btn snorkeling-btn">
          送出
        </button>
      </div>

    </form>
  {{/if}}

  <table class="table table-hover table-bordered align-middle mx-auto mt-4"
    style="max-width: 1000px;">

    <thead class="table-dark">
      <tr>
        <th scope="col" style="width: 50px;">id</th>
        <th scope="col" style="width: 200px;">裝備名稱</th>
        <th scope="col" style="width: 200px;">售價</th>
        <th scope="col" style="width: 100px;">圖片</th>
        <th scope="col">#</th>
      </tr>
    </thead>

    <tbody>

      {{#each snorkelings as |item i|}}
        <tr>
          <th scope="row">{{ math i 1 }}</th>
          <td>{{ this.title }}</td>
          <td class="price">{{ this.price }}</td>
          <td><img src="{{ this.image }}" alt="{{ this.title }}"
              class="snorkeling-image"></td>
          <td>
            <a href="/snorkeling/{{ this.id }}" class="snorkeling-edit">
              <button type="button" class="btn snorkeling-btn">
                編輯
              </button>
            </a>
            <form action="/snorkeling/{{ this.id }}?_method=DELETE"
              method="POST" style="display: inline;">
              <button type="submit" class="btn snorkeling-btn">
                刪除
              </button>
            </form>
          </td>
        </tr>
      {{/each}}

    </tbody>

  </table>

</div>
